<div class="header">
  <div class="header-info-nav">
    <h1 class="header-text"><%= @header %></h1>
    <% if @subtitle %>
    <h2><%= @subtitle %></h2>
    <% end %>
    <ul class="nav">

      <li class="nav-btn"><%= link_to "who am I", whoami_path %></li>
      <li class="nav-btn"><%= link_to "projects", projects_path %></li>
      <li class="nav-btn"><%= link_to "contact", contact_path %></li>
    </ul>
  </div>
</div>
