<div class="row row-no-padding" id="projects">
	<div class="col-xs-12 col-md-8 offset-md-2">
		<h2 class="text-left"> >> the story is...</h2>
	</div>
</div>
<div id="timeline">
	<% @experiences.each do |e| %>
	<div class="dot" id="<%= e.name %>">
		<span></span>
		<p class="ex-title"><%= e.title %></p>
	</div>
	<% end %>
  <%= link_to contact_path, class:"dot last", id: "four" do %>
		<span></span>
		<p>Let's connect!</p>
	<% end %>
  <div class="inside"></div>
</div>

<!-- Modals -->

<% @experiences.each do |e| %>
	<article class='modal <%= e.name %>'>
	  <date><%= e.date %></date>
	  <h3><%= e.title %></h3>
	  <%= simple_format(e.description) %>
	</article>
<% end %>
