<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <% @roles.each do |role| %>

    <div class="carousel-item <%= role.name == "fullstack developer" ? "active" : "" %>">
      <div class="row row-no-padding">
        <div class="col-xs-10 offset-xs-1 col-md-8 offset-md-2 role">
          <h2 class="role-name"><%= role.name %></h2>
          <p class="role-description"><%= role.description %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <i class="fas fa-arrow-circle-left" aria-hidden="true"></i>
    <span class="sr-only" style="color: black;">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <i class="fas fa-arrow-circle-right" aria-hidden="true"></i>
    <span class="sr-only">Next</span>
  </a>
</div>
<%= render 'shared/timeline' %>

<div class="row row-no-padding" id="projects">
  <div class="col-xs-12 col-md-8 offset-md-2">
      <h2 class="projects-header text-right">and here are some of my projects.</h2>
    <div class="row row-no-padding">
      <% @projects.each do |project| %>
      <div class="col-xs-12 <%= project.name == "TRAVELFIT" ? "col-md-12" : "col-md-6" %>">
        <div class="project-img" style="background-image: url(<%= image_path "#{project.name.downcase.gsub(/\s+/, "")}.png" %>);")>
          <div class="project-card" style="background-image: linear-gradient(-225deg, rgba(255, 255, 255, 0.99) 0%, rgba(255,255,255,0.95) 50%), url(<%= image_path "#{project.name.downcase.gsub(/\s+/, "")}.png" %>);">
            <h2 class="project-name"><%= project.name %></h2>
            <p class="project-description"><%= project.description %></p>
            <p class="project-stack"><%= project.stack %></p>
            <%= link_to "OPEN", "#{project.url}", target:"_blank", class:"project-link project-btn" %>
          </div>
        </div>
      </div>
      <% end %>
  </div>
  </div>
</div>
